<div class="container">
  <div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/shop" routerLinkActive="active">
          Shop
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
          Contact
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>

  <p> Name: {{ name | uppercase }}</p>
  <p>{{ name | nameLabel: 'Name: ' }}</p>
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li *ngFor="let item of items">
          <app-image [imageUrl]="item"></app-image>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="header">
    <h1 class=" text-muted">
      {{title}}
    </h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-8">
      <app-profile></app-profile>
    </div>
    <div class="col-sm-4">
      <app-similar-list></app-similar-list>
    </div>
  </div>
  <hr>
  <footer class="footer">
    (c) dating service company
  </footer>
</div>
